:root {
  --petst-primary-color: #00AEAC;
  --petst-secondary-color: #71B2FF;
  --petst-primary-color-transparent: rgba(0, 174, 171, 0.4);
}

body {
  font-family: 'Roboto';
  background-color: #E5E5E5;
}

.marcar-txt {
        color: #00AEAC;
}

.back-link:link,
.back-link:visited {
        text-decoration: none;
        font-size: 1.25rem;
        color: #00AEAC;
        border-bottom: 1px solid #016D6C;
        transition: all 300ms;
}

.back-link:hover,
.back-link:active {
        border-bottom: 1px solid transparent;
}

.start-label {
        text-align: start;
}

.search-label {
        display: block;
        text-align: center;
}

.update-btn {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: #494848;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 300ms;
}

.update-btn:hover {
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.3);
}

.search-btn {
  background-color: var(--petst-primary-color);
}

.submit-btn {
  background-color: var(--petst-secondary-color);
}


.form-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid #777;
  background-color: #f7f7f7;
  font-size: 1rem;
}

.form-input:disabled {
  cursor: not-allowed;
  color: #c4c4c4;
}

.form-input.search-input {
  width: 30%;
}

.form-select {
  background-color: #f7f7f7;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.row.form-row {
  align-items: center;
}


.servico {
        overflow: hidden;
        clear: both;
        display: inline-block;
}

#servico-tipo{
        float: left;
}

#servico-animal {
        margin-right: 20px;
        float: left;
}

#servico-obs {
        margin: 20px;
        margin-top: 10px;
}

.gaiolas {
        margin-left: 20%;
}

#gaiola {
        float: left;
        margin: 10px;
        padding: 3px;
        border: 2px #00AEAC solid;
}