/* - Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

:root {
  --petst-primary-color: #00AEAC;
  --petst-primary-color-transparent: rgba(0, 174, 171, 0.4);
}

/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL STYLES */

body {
  line-height: 1;
  font-weight: 400;
  color: #444;
  font-family: 'Roboto';
}

/* Reusable Components */

.heading-primary {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  color: var(--petst-primary-color);

}

.heading-secondary {
  font-size: 1.5rem;
  text-align: center;
}

.form-label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--petst-primary-color-transparent);
  font-size: 1rem;
}

.button {
  font-size: 1rem;
  color: #fff;
  padding: 0.5rem 1.125rem;
  border-radius: 1rem;
  opacity: 1;
  transition: all 300ms;
}

/* USER REGISTER */

.register-form__photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.register-form__add-photo {
  margin-top: 0.625rem;
  font-size: 1.125rem;
  color: var(--petst-primary-color);
  border-bottom: 1px solid var(--petst-primary-color);
}

.register-form__actions {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

.cancel-button:link,
.cancel-button:visited {
  display: inline-block;
  text-decoration: none;
  background-color: #f03e3e;
}

.cancel-button:hover,
.cancel-button:active {
  opacity: 0.5;
  color: #fff;
}

.submit-button {
  border: none;
  background-color: var(--petst-primary-color);
  cursor: pointer;
}

.submit-button:hover {
  opacity: 0.7;
  color: #fff;
}

.alert-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.alert-list-item {
  font-size: 1rem;
  width: 40%;
  text-align: center;
}

.pet-form.hidden {
  display: none;
}

.pets-heading {
  font-size: 1.25rem;
  padding: 0.25rem 0;
  border-bottom : 1px solid #babaca;
}
