<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="icon" href="/static/img/logo-petstory.png" />
    
    {% block head %}{% endblock %}
    {% if title %}
    <title>PetStory | {{ title }}</title>
    {% else %}
    <title>PetStory</title>
    {% endif %}
  </head>
  <body>
    {% block menu %}
    <div class="menu-bg">
      <div class="menu">
        <div class="menu-logo ordX">
          <img src="/static/img/logo.svg" alt="">
        </div>

        <div class="menu-nav ordY">
          <ul>
            <li><a href="/servicos">Serviços</a></li>
            <li><a href="/registro">Cadastro</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Notificações</a></li>
          </ul>
        </div>

        <div class="menu-employee ordZ">
          <img src="/static/img/employee.svg" alt="">
          <div class="menu-employee-info">
            <p>Bem- vindo(a),</p>
            <h3>Funcionário X</h3>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

    {% block content %}{% endblock %}
  </body>
</html>
