{% extends "base.html" %} 
{% block head %}
<link rel="stylesheet" href="/static/css/busca_clientes.css" />
{% endblock %}

{% block content %}
<div class="container">
        <div class="title">
                <h2>Clientes</h2>
        </div>
        <div class="search text-center">
                <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Pesquisar histórico" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                </form>
        </div>

        <div class="container1">
                <div class="collum">
                        <ul>
                                <li><a class="client" href="historico.html">Sherlock Holmes</a></li>
                                <li><a class="client" href="#">Suri Pequeno</a></li>
                                <li><a class="client" href="#">Stefan Fontes</a></li>
                                <li><a class="client" href="#">Dina Mendonça</a></li>
                                <li><a class="client" href="#">Jade Picanço</a></li>
                                <li><a class="client" href="#">Cauã Coronel</a></li>
                                <li><a class="client" href="#">Verónica Barreiros</a></li>
                                <li><a class="client" href="#">Lya Mendonça</a></li>
                        </ul>
                </div>
                <div class="collum">
                        <ul>
                                <li><a class="client" href="#">Liana Lages</a></li>
                                <li><a class="client" href="#">Morgana Corte-Real</a></li>
                                <li><a class="client" href="#">William Paiva</a></li>
                                <li><a class="client" href="#">Nuno Barata</a></li>
                                <li><a class="client" href="#">Luisa Neres</a></li>
                                <li><a class="client" href="#">Prapti Milheiro</a></li>
                                <li><a class="client" href="#">Luna Zarco</a></li>
                                <li><a class="client" href="#">Julieta Serro</a></li>
                        </ul>
                </div>
                <div class="collum">
                        <ul>
                                <li><a class="client" href="#">Filomena Outeiro</a></li>
                                <li><a class="client" href="#">Kendrick Cabeça</a></li>
                                <li><a class="client" href="#">Kelly Eanes</a></li>
                                <li><a class="client" href="#">Patrício Bragança</a></li>
                                <li><a class="client" href="#">Isis Aldeia</a></li>
                                <li><a class="client" href="#">Nayla Campelo</a></li>
                                <li><a class="client" href="#">Mariana Raposo</a></li>
                                <li><a class="client" href="#">Raphael Coimbra</a></li>
                        </ul>
                </div>
                <div class="collum">
                        <ul>
                                <li><a class="client" href="#">Finn Lins</a></li>
                                <li><a class="client" href="#">Briana Vasconcelos</a></li>
                                <li><a class="client" href="#">Micaela Barreira</a></li>
                                <li><a class="client" href="#">Marco Guerreiro</a></li>
                                <li><a class="client" href="#">Natacha Paiva</a></li>
                                <li><a class="client" href="#">Tiara Couto</a></li>
                                <li><a class="client" href="#">Maximus Eanes</a></li>
                                <li><a class="client" href="#">Grace Estrela</a></li>
                        </ul>
                </div>
        </div>
</div>

        <script src="https://kit.fontawesome.com/32620faf14.js" crossorigin="anonymous"></script>
{% endblock %}