{% extends "base.html" %} 
{% block head %}
    <link rel="stylesheet" href="/static/css/novo_atendimento.css">
{% endblock %}
{% block content %}
<div class="nav-bar">
        <ul>
                <li><a href=""><img src="" alt="imagem"></a></li>
                <li><a href="">Serviços</a></li>
                <li><a href="">Marcação</a></li>
                <li><a href="">Cadastrar</a></li>
                <li><a href="">Histórico</a></li>
        </ul>
</div>

<div class="servico">
        <div id="marcar-txt">
                <h1>Marcar Serviço</h1>
        </div>

        <div id="servico-tipo">
                <ul> Serviço:
                        <li><input type="checkbox" name="servico">Banho</li>
                        <li><input type="checkbox" name="servico">Tosa</li>
                </ul>
        </div>

        <div id="servico-animal">
                <ul> Animal: 
                        <li><input type="radio" name="animal">Cachorro</li>
                        <li><input type="radio" name="animal">Gato</li>
                </ul>
        </div>

        <div id="servico-raca">
                <td>Raça: </td>
                <select name="raca" id="raca">
                        <option value="York">York</option>
                        <option value="Golden">Golden</option>
                        <option value="SRD">SRD</option>
                        <option value="Persa">Persa</option>
                </select>
        </div>

        <br>

        <div id="servico-dono">
                <td>Dono: </td>
                <input type="text" name="nome_dono" size="40">
        </div>

        <br>

        <div id="servico-obs">
                <td>Observações adicionais (Alergias, Deficiências, Tipo de tosa, outros): </td><br>
                <input type="text" name="nome_dono" size="80">
        </div>
</div>

<div class="gaiolas-tudo">
        <h3>Disponíveis: </h3>
        <div class="gaiolas">
                <div id="gaiola">
                        <p>Gaiola 1</p>
                        <p>FUNCIONÁRIO</p>
                        <input type="radio" name="gaiola">
                </div>
                <div id="gaiola">
                        <p>Gaiola 2</p>
                        <p>FUNCIONÁRIO</p>
                        <input type="radio" name="gaiola">
                </div>
                <div id="gaiola">
                        <p>Gaiola 3</p>
                        <p>FUNCIONÁRIO</p>
                        <input type="radio" name="gaiola">
                </div>
                <div id="gaiola">
                        <p>Gaiola 4</p>
                        <p>FUNCIONÁRIO</p>
                        <input type="radio" name="gaiola">
                </div>
                <div id="gaiola">
                        <p>Gaiola 5</p>
                        <p>FUNCIONÁRIO</p>
                        <input type="radio" name="gaiola">
                </div>
                <div id="gaiola">
                        <p>Gaiola 6</p>
                        <p>FUNCIONÁRIO</p>
                        <input type="radio" name="gaiola">
                </div>
        </div>
</div>
{% endblock %}