{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="heading-primary">Cadastrar novo usuário</h1>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="register-form">
      <div class="form-control name">
        {{ form.dog.label(class="form-label") }} {{ form.dog(class="form-input")
        }}
      </div>
      <div class="form-control breed">
        {{ form.breed.label(class="form-label") }} {{
        form.breed(class="form-input") }}
      </div>
      <div class="form-control age">
        {{ form.age.label(class="form-label") }} {{ form.age(class="form-input")
        }}
      </div>
      <div class="form-control owner">
        {{ form.owner.label(class="form-label") }} {{
        form.owner(class="form-input") }}
      </div>
      <div class="form-control cpf">
        {{ form.cpf.label(class="form-label") }} {{ form.cpf(class="form-input")
        }}
      </div>
      <div class="form-control phone">
        {{ form.phone.label(class="form-label") }} {{
        form.phone(class="form-input") }}
      </div>
      <div class="form-control zip-code">
        {{ form.zip_code.label(class="form-label") }} {{
        form.zip_code(class="form-input") }}
      </div>
      <div class="form-control address">
        {{ form.address.label(class="form-label") }} {{
        form.address(class="form-input") }}
      </div>
      <div class="form-control email">
        {{ form.email.label(class="form-label") }} {{
        form.email(class="form-input") }}
      </div>
    </div>
    <div class="register-form__photo">
      <img
        src="/static/img/default-user-icon.jpg"
        alt="dog
    photo"
      />
      <p class="register-form__add-photo">Adicionar foto</p>
    </div>
    <div class="register-form__actions">
      <a class="btn cancel-btn" href="/">Cancelar</a>
      {{ form.submit(class="btn submit-btn") }}
    </div>
  </form>
</div>
{% endblock %}
