{% extends "base.html" %} 
{% block head %}
<link rel="stylesheet" href="/static/css/registro.css" />
{% endblock %}

{% block content %}
<h1 class="heading-primary">Cadastrar novo usuário</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="container alert-list" role="alert">
  {% for message in messages %}
    <li class="alert alert-success alert-list-item">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="container">
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.add_pet(class="button submit-button mb-3")}}
    <div>
      <div class="row mb-3">
        <div class="col-lg-4 col-md-12">
          {{ form.owner.label(class="form-label") }} {{
          form.owner(class="form-input") }}
        </div>
        <div class="col-lg-4 col-md-12">
          {{ form.cpf.label(class="form-label") }} {{ form.cpf(class="form-input")
        }}
        </div>
        <div class="col-lg-4 col-md-12">
          {{ form.phone.label(class="form-label") }} {{
          form.phone(class="form-input") }}
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-3 col-md-12">
          {{ form.zip_code.label(class="form-label") }} {{
          form.zip_code(class="form-input") }}
        </div>
        <div class="col-lg-4 col-md-12">
          {{ form.address.label(class="form-label") }} {{
          form.address(class="form-input") }}
        </div>
        <div class="col-lg-4 col-md-12">
          {{ form.email.label(class="form-label") }} {{
          form.email(class="form-input") }}
        </div>
      </div>
      <p class="pets-heading mb-3">Informações do(s) pet(s)</p>
        {% for pet in form.pets %}
          <div class="row mb-3 pet-form">
            <div class="col-lg-4 col-md-12">
              {{ pet.dog.label(class="form-label") }} 
              {{ pet.dog(class="form-input") }}
            </div>
            <div class="col-lg-3 col-md-12">
              {{ pet.breed.label(class="form-label") }} 
              {{ pet.breed(class="form-input") }}
            </div>
            <div class="col-lg-3 col-md-12">
              {{ pet.fur.label(class="form-label") }} 
              {{ pet.fur(class="form-input") }}
            </div>
            <div class="col-lg-2 col-md-12">
              {{ pet.age.label(class="form-label") }} 
              {{ pet.age(class="form-input") }}
            </div>
          </div>
        {% endfor %}
    </div>
    <div class="register-form__photo">
      <img
        src="/static/img/default-user-icon.jpg"
        alt="dog
    photo"
      />
      <p class="register-form__add-photo">Adicionar foto</p>
    </div>
    <div class="register-form__actions mb-5">
      <a class="button cancel-button" href="/">Cancelar</a>
      {{ form.submit(class="button submit-button") }}
    </div>
  </form>
</div>
{% endblock %}
